<template name="addressTable">
<!-- Modal -->
  <div class="modal fade" id="show-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-full-info" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{fullInfo.name}}</h4>
        </div>
        <div class="modal-body">
        {{fullInfo.originalTextReference}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
  <!-- About dialog -->
  <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-full-info" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">О проекте</h4>
        </div>
        <div class="modal-body">
        <p>Поисковая база составлена на основе данных 11 томов <a href="http://visz.nlr.ru/search/lists/all/">&laquo;Ленинградского мартиролога под ред. А.Я. Разумова&raquo;</a></p>
        <p>Все представленные результаты поиска по конкретному адресу требуют дополнительной проверки и уточнений по архивным справкам и не являются окончательными ввиду возможных ошибок при вводе данных и неточности поиска. После заполнения Вами заявки на установку памятного знака сотрудники проекта &laquo;Последний адрес&raquo; сверят данные и смогут подтвердить или внести корректировки по возможности размещения знака по указанному адресу.</p>
        <p>Если через данный поиск вы не нашли по своему адресу каких-либо записей, напишите нам: <a href="mailto:poslednyadres@memo.ru">poslednyadres@memo.ru</a> или <a href="mailto:posled.adress.spb@gmail.com">posled.adress.spb@gmail.com</a></p>
        <p>Подать заявку на установку памятного знака в Петербурге и других городах можно через <a href="http://www.poslednyadres.ru/instructions/">сайт проекта &laquo;Последний адрес&raquo;</a>.</p>
        <p>Программирование: Андрей Дятлов, <a href="mailto:adyatlov@gmail.com">adyatlov@gmail.com</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
  {{> parse}}
  <div id="popover"></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">Имя</th>
        <th class="text-center">Год&nbsp;рождения</th>
        <th class="text-center">Адрес</th>
        <th class="text-center">Современное&nbsp;название&nbsp;улицы</th>
        <th class="text-center">Профессия</th>
        <th class="text-center">Дата&nbsp;ареста</th>
        <th class="text-center">Статья</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr class="address-row" id="{{_id}}">
        <td>{{name}}</td>
        <td class="text-center">{{yob}}</td>
        <td>{{fullAddress}}</td>
        <td>{{modernStreetName}}</td>
        <td>{{profession}}</td>
        <td>{{arrestDate}}</td>
        <td>{{code}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if moreResults}}
    <div id="showMoreResults" style="margin-left: 25px;">
        <span class="loading">Загружаю...</span>
    </div>
  {{/if}}
</template>

<template name="search">
  <form class="navbar-form navbar-left">
    <div class="form-group">
      {{#if searchInAddress}}
      <div class="form-group has-feedback">
        <input style="width: 290px" id="searchString" placeholder="Улица" type="text" class="form-control" aria-label="поиск" value="{{searchString}}">
        <i class="form-control-feedback"></i> 
      </div>
      <input style="width: 90px" id="houseNumber" placeholder="№ дома" type="text" class="form-control" aria-label="поиск" value="{{houseNumber}}">
      {{else}}
      <div class="form-group has-feedback">
        <input style="width: 384px" id="searchString" placeholder="Поиск" type="text" class="form-control" aria-label="поиск" value="{{searchString}}">
        <i class="form-control-feedback"></i> 
      </div>
      {{/if}}
      <label class="checkbox-inline" for="searchInAddress">
        <input {{searchInAddressesChecked}} id="searchInAddress" type="checkbox" aria-label="поиск">искать только по адресу
      </label>
    </div>
  </form>
  <span class="navbar-text">показано <span class="badge">{{count}}</span></span>
</template>