<head>
  <title>Последний адрес</title>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.png">
</head>

<template name="layout">
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Показать меню</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" target="_blank" href="http://www.poslednyadres.ru">Последний адрес</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--         
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
 --> 
        {{> search}}
        {{> menu}}
        <!-- <span class="navbar-text glyphicon glyphicon-question-sign" aria-hidden="true"></span> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div style="padding-top: 90px" class="container layout">
    {{> yield}}
  </div>
</template>