<template name="menu">
<div class="btn-group" role="group" aria-label="menu">
<a href="http://www.poslednyadres.ru/instructions/" target="_blank" type="button" class="btn btn-primary navbar-btn">Установить знак</a>
<a class="btn btn-info navbar-btn go-to-about" href="#">О проекте</a>
</div>
<ul class="nav navbar-nav navbar-right">
  <li></li>
</ul>
</template>