<template name="parse">
  {{#if show}}
<!--   <h2>Обновление базы последних адресов</h2>
  <div class="alert alert-info" role="alert">{{message}}</div>
  <div class="form-group">
    <div class="row">
      <label class="col-md-12" for="tsv-to-parse">Для обновления базы выберите пожалуйста .CSV файл.</label>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="file" id="tsv-to-parse">
      </div>
    </div>
  </div>

 -->  <div class="row">
    <div class="col-md-12">
      {{#with csvFile}}
      {{#unless this.isUploaded}}
      {{> FS.UploadProgressBar bootstrap=true}}
      {{/unless}}
      {{/with}}
    </div>
  </div>
  {{/if}}
</template>